<div fxLayout="column">
  <div class="blue" fxHide.lt-sm>
    <div
      class="container info"
      fxLayout
      fxLayoutAlign="space-between center"
      fxLayoutAlign.lt-md="space-around center"
    >
      <p>Seg / Sex - 08:00 às 18:00</p>
      <p>+55 21 9999-9999</p>
      <p>Rua vinte e cinco de janeiro, 531</p>
    </div>
  </div>
  <header class="blue-white">
    <div
      class="container"
      fxLayoutAlign="space-between center"
      fxLayoutAlign.lt-md="space-around center"
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
    >
      <h1>FlexBlog</h1>
      <nav>
        <ul fxLayout fxLayoutGap="10px">
          <li><a>Sobre</a></li>
          <li><a>Produtos</a></li>
          <li><a>Preço</a></li>
          <li><a>Qualidade</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="sobre" fxLayout>
    <div
      class="container"
      fxLayout.lt-sm="column"
      fxLayoutAlign.lt-sm="center center"
    >
      <h2>Sobre</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dicta
        animi voluptatum eum! Quos, cum necessitatibus adipisci dignissimos,
        perspiciatis assumenda non facere quae repellendus eos rerum fugiat,
        distinctio minima culpa!
      </p>
    </div>
  </section>

  <section
    class="container"
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-md="center center"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="5px"
      fxFlex="300px"
    >
      <h2>Cobre</h2>
      <span>R$ 19,00</span>
      <ul fxLayout="column" fxLayoutGap="8px">
        <li>Planos Ilimitados</li>
        <li>Acesso Restrito</li>
        <li>Conteúdo Secreto</li>
        <li>Suporte 24h</li>
        <li>Compra Exclusiva</li>
        <li>Download Exclusiva</li>
      </ul>
      <a href="">Comprar</a>
    </div>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex="300px"
      fxLayoutGap="5px"
    >
      <h2>Prata</h2>
      <span>R$ 29,00</span>
      <ul fxLayout="column" fxLayoutGap="8px">
        <li>Planos Ilimitados</li>
        <li>Acesso Restrito</li>
        <li>Conteúdo Secreto</li>
        <li>Suporte 24h</li>
        <li>Compra Exclusiva</li>
        <li>Download Exclusiva</li>
      </ul>
      <a href="">Comprar</a>
    </div>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex="300px"
      fxLayoutGap="5px"
    >
      <h2>Ouro</h2>
      <span>R$ 39,00</span>
      <ul fxLayout="column" fxLayoutGap="8px">
        <li>Planos Ilimitados</li>
        <li>Acesso Restrito</li>
        <li>Conteúdo Secreto</li>
        <li>Suporte 24h</li>
        <li>Compra Exclusiva</li>
        <li>Download Exclusiva</li>
      </ul>
      <a href="">Comprar</a>
    </div>
  </section>

  <section
    class="container"
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="20px"
    fxLayoutGap.lt-sm="5px"
  >
    <div fxFlex="300px">
      <h2>Inteligente</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
        vero cupiditate
      </p>
    </div>
    <div fxFlex="300px">
      <h2>Compacto</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
        vero cupiditate
      </p>
    </div>

    <div fxFlex="300px">
      <h2>Transparente</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
        vero cupiditate
      </p>
    </div>

    <div fxFlex="300px">
      <h2>Econômico</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
        vero cupiditate
      </p>
    </div>
    <div fxFlex="300px">
      <h2>Opaco</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
        vero cupiditate
      </p>
    </div>
    <div fxFlex="300px">
      <h2>Sustentável</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
        vero cupiditate
      </p>
    </div>
  </section>

  <div class="gray">
    <section
      class="container"
      fxLayout
      fxLayoutAlign="space-between center"
      fxLayout.lt-sm="column"
      fxLayoutAlign.lt-sm="center center"
    >
      <div fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
        <h2>Newsletter</h2>
        <p>Assine e fique por dentro das novidades</p>
      </div>
      <form>
        <input type="email" name="email" placeholder="Digite seu e-mail" />
        <button>Assinar</button>
      </form>
    </section>
  </div>
</div>
