.container {
  padding: 1rem 0rem;
  max-width: 960px;
  margin: 0 auto;
}

.blue {
  background: #122ab2;
}

.blue-white {
  background-color: #2c70ff;
}

.gray {
  background-color: #f7f7f7;
}

header nav li a,
header h1 {
  color: white;
}

.info p {
  color: white;
}
