html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  margin: 0;
  li {
    list-style: none;
  }
}

.hover {
  &:hover {
    cursor: pointer;
  }
}
